

<h1>{{cowork.name}}</h1> <br><br>

<img src="{{cowork.images}}" alt="Img N/A" class="image-framework"> 
<br><br>
<p><strong>Address:</strong> {{cowork.address}}</p> 
<p><strong>Email:</strong> {{cowork.email}}</p> 
<p><strong>Website:</strong> {{cowork.website}}</p> 
<p><strong>Description: </strong>{{cowork.description}}</p> 
<p><strong>Amenities</strong><br> 
<i>Basics:</i> {{#each cowork.amenities}}
  {{this.basics}}
{{/each}}<br>
<i>Equipment: </i>
{{#each cowork.amenities}}
  {{this.equipment}}
{{/each}}<br>
<i>Facilities: </i>
{{#each cowork.amenities}}
  {{this.facilities}}
{{/each}}<br>
<i>Transportation: </i>
{{#each cowork.amenities}}
  {{this.transportation}}
{{/each}}<br>
<i>Relax Zones: </i>
{{#each cowork.amenities}}
  {{this.relax_zones}}
{{/each}}
</p> 
<p><strong>Prices:</strong> {{cowork.prices}}</p> 
<p><strong>Opening Hours:</strong><br> 
<i>Week Days:</i> {{#each cowork.opening_hours}}
  {{this.week_day}}
{{/each}}<br>
<i>Weekend: </i>
{{#each cowork.opening_hours}}
  {{this.weekend}}
{{/each}}</p>  

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Schedule a place</h4>

            <form action="/add-space" method="POST" id="form-container" class="form-signin">

              <div class="form-label-group">
                <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true">Select the date
                </button>
                <div class="dropdown-menu">

                  <div>
                    <label for="participants">Number of participants</label>
                    <input type="number" id="participants" placeholder="Number of participants" />
                  </div>

                  <div>
                    <label for="date">Date</label>
                    <input type="date" id="date" />
                  </div>

                </div>
              </div>
              <hr>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button">Reserve</button>
            
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>