{{!-- 

<h1>{{cowork.name}}</h1> <br><br>

<img src="{{cowork.images}}" alt="Img N/A" class="image-framework"> 
<br><br>
<p><strong>Address:</strong> {{cowork.address}}</p> 
<p><strong>Email:</strong> {{cowork.email}}</p> 
<p><strong>Website:</strong> {{cowork.website}}</p> 
<p><strong>Description: </strong>{{cowork.description}}</p> 
<p><strong>Amenities</strong><br> 
<i>Basics:</i> {{#each cowork.amenities}}
  {{this.basics}}
{{/each}}<br>
<i>Equipment: </i>
{{#each cowork.amenities}}
  {{this.equipment}}
{{/each}}<br>
<i>Facilities: </i>
{{#each cowork.amenities}}
  {{this.facilities}}
{{/each}}<br>
<i>Transportation: </i>
{{#each cowork.amenities}}
  {{this.transportation}}
{{/each}}<br>
<i>Relax Zones: </i>
{{#each cowork.amenities}}
  {{this.relax_zones}}
{{/each}}
</p> 
<p><strong>Prices:</strong> {{cowork.prices}}</p> 
<p><strong>Opening Hours:</strong><br> 
<i>Week Days:</i> {{#each cowork.opening_hours}}
  {{this.week_day}}
{{/each}}<br>
<i>Weekend: </i>
{{#each cowork.opening_hours}}
  {{this.weekend}}
{{/each}}</p>  
--}}

<br>



<style>
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    }

    h1{
      text-align: center;
      text-shadow: 3px 2px 2px rgba(157, 219, 153, 0.3);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }


</style>

<h1>{{cowork.name}}</h1> <br>
  <div class="img-cowork">
    <img src="{{cowork.images}}" alt="Img N/A" class="image-framework"> 
  </div>
<br><br>
<p><strong>Address:</strong> {{cowork.address}}</p> 
<p><strong>Email:</strong> {{cowork.email}}</p> 
<p><strong>Website:</strong> {{cowork.website}}</p> 
<div class="description">
  <p><strong>Description: </strong>{{cowork.description}}</p> 
</div>
<p><strong>Amenities</strong><br> 
<i>Basics:</i> {{#each cowork.amenities}}
  {{this.basics}}
{{/each}}<br>
<i>Equipment: </i>
{{#each cowork.amenities}}
  {{this.equipment}}
{{/each}}<br>
<i>Facilities: </i>
{{#each cowork.amenities}}
  {{this.facilities}}
{{/each}}<br>
<i>Transportation: </i>
{{#each cowork.amenities}}
  {{this.transportation}}
{{/each}}<br>
<i>Relax Zones: </i>
{{#each cowork.amenities}}
  {{this.relax_zones}}
{{/each}}
</p> 
<p><strong>Prices:</strong> {{cowork.prices}}</p> 
<p><strong>Opening Hours:</strong><br> 
<i>Week Days:</i> {{#each cowork.opening_hours}}
  {{this.week_day}}
{{/each}}<br>
<i>Weekend: </i>
{{#each cowork.opening_hours}}
  {{this.weekend}}
{{/each}}</p>  

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Schedule a place</h4>
            <form action="/cowork-detail/{{cowork._id}}/reserve" method="POST" id="form-container" class="form-signin">
              <div class="form-label-group">
             
              <div class="form-label-group">
                <input name="number" type="number" id="number" class="form-control" placeholder="number" required>
                <label for="number" >Number of participants</label>
              </div>


               <div class="form-label-group">
                <input name="date" type="date" id="date" class="form-control" placeholder="date" required>
                <label for="date">Date</label>
              </div> 

               <div class="form-label-group">
                <input name="email" type="email" id="email" class="form-control" placeholder="Email address" required>
                <label for="email">Enter your email</label>
              </div> 

              <div class="form-label-group">
                <textarea name="description" type="description" id="description" class="form-control" placeholder="Description" rows="3"></textarea>
                <label for="description">Add something</label>
              </div>
                <div class="dropdown-menu">
                </div>
              </div>
              <hr>
              <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Reserve</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
