<h1>{{cowork.name}}</h1> <br><br>


<p><strong>Address:</strong> {{cowork.address}}</p> 
<p><strong>Email:</strong> {{cowork.email}}</p> 
<p><strong>Website:</strong> {{cowork.website}}</p> 
<img src="{{cowork.images}}" alt="Img N/A"> 
<p><strong>Description: </strong>{{cowork.description}}</p> 
<p><strong>Amenities</strong>{{cowork.amenities}}</p> 
<p><strong>Prices:</strong> {{cowork.prices}}</p> 
<p><strong>Opening Hours:</strong> {{cowork.opening_hours}}</p>  
