

<h1>{{cowork.name}}</h1> <br><br>


<p><strong>Address:</strong> {{cowork.address}}</p> 
<p><strong>Email:</strong> {{cowork.email}}</p> 
<p><strong>Website:</strong> {{cowork.website}}</p> 
<img src="{{cowork.images}}" alt="Img N/A" class="image-framework"> 
<p><strong>Description: </strong>{{cowork.description}}</p> 
<p><strong>Amenities</strong><br> 
<i>Basics:</i> {{#each cowork.amenities}}
  {{this.basics}}
{{/each}}<br>
<i>Equipment: </i>
{{#each cowork.amenities}}
  {{this.equipment}}
{{/each}}<br>
<i>Facilities: </i>
{{#each cowork.amenities}}
  {{this.facilities}}
{{/each}}<br>
<i>Transportation: </i>
{{#each cowork.amenities}}
  {{this.transportation}}
{{/each}}<br>
<i>Relax Zones: </i>
{{#each cowork.amenities}}
  {{this.relax_zones}}
{{/each}}
</p> 
<p><strong>Prices:</strong> {{cowork.prices}}</p> 
<p><strong>Opening Hours:</strong><br> 
<i>Week Days:</i> {{#each cowork.opening_hours}}
  {{this.week_day}}
{{/each}}<br>
<i>Weekend: </i>
{{#each cowork.opening_hours}}
  {{this.weekend}}
{{/each}}</p>  
