<h1>{{cowork.name}}</h1>


<p><strong>Address:</strong> {{cowork.address}}</p> 
<p><strong>Email:</strong> {{cowork.email}}</p> 
<p><strong>Website:</strong> {{cowork.website}}</p> 
<p><strong></strong>{{cowork.images}}</p> 
<p><strong>Description: </strong>{{cowork.description}}</p> 
<p><strong>Amenities</strong>{{cowork.amenities}}</p> 
<p><strong>Prices:</strong> {{cowork.prices}}</p> 
<p><strong>Opening Hours:</strong> {{cowork.opening_hours}}</p>  
